@import "~reset-css";
@import "~normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}
